<div class="d-flex justify-content-end mb-2">
  <%= link_to '<i class="fas fa-undo-alt"></i><span>Voltar</span>'.html_safe, quizroom_path(question.quizroom), class:"back-btn" %>
</div>
<div class="question-header">
  <h1><%= question.utterance %></h1>
</div>
