<%= render 'questions/show_shared/question_header', question: question %>
<h2>Respostas:</h2>
<div id="answers" data-quizroom-id="<%= question.quizroom.id %>">
  <% answers.each do |answer| %>
    <%= render 'questions/show_teacher/answer', answer: answer %>
  <% end %>
</div>
