<div class="card-white">
  <div class="quizroom-header d-flex justify-content-between align-items-center mb-4">
    <div class="text-left">
      <h1>Olá, <%= current_user.teacher ? "Prof. #{current_user.name}" : current_user.name %>!</h1>
    </div>
    <div class="avatar">
      <%= image_tag "https://static.vecteezy.com/system/resources/previews/002/275/847/original/male-avatar-profile-icon-of-smiling-caucasian-man-vector.jpg" %>
    </div>
  </div>
  <h3>Aulas disponíveis:</h3>
  <div class="quizroom-list-wrapper row justify-content-center mt-4">
    <ul>
      <% @quizrooms.each do |quizroom| %>
        <li>
          <%= link_to quizroom_path(quizroom), class: "quizroom-links" do %>
            <div class="d-flex align-items-center">
              <div class="hashtag mr-2">
                <i class="fab fa-slack-hash"></i>
              </div>
              <span><%= quizroom.name %></span>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
