<div class="card-white">
  <div class="text-left">
    <h1>Olá, <%= current_user.teacher ? "Prof. #{current_user.name}" : current_user.name %>!</h1>
  </div>
  <div class="quizroom-list-wrapper">
    <ul>
      <% @quizrooms.each do |quizroom| %>
        <li>
          <%= link_to quizroom_path(quizroom) do %>
            <div class="hashtag">
              <i class="fab fa-slack-hash"></i>
            </div>
            <span><%= quizroom.name %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
