<div class="card-white">
  <div class="text-left">
    <h1>Olá, <%= current_user.teacher ? "Prof. #{current_user.name}" : current_user.name %>!</h1>
  </div>
  <h3>Aulas disponíveis:</h3>
  <div class="quizroom-list-wrapper row justify-content-center mt-4">
    <ul>
      <% @quizrooms.each do |quizroom| %>
        <li>
          <%= link_to quizroom_path(quizroom), class: "quizroom-links" do %>
            <div class="d-flex align-items-center">
              <div class="hashtag mr-2">
                <i class="fab fa-slack-hash"></i>
              </div>
              <span><%= quizroom.name %></span>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
