<div class="card-white">
  <h1><i class="fab fa-slack-hash"></i> <%= @quizroom.name %></h1>
  <h2>Questões:</h2>
  <ul>
    <% @questions.each do |question| %>
      <li>
        <%= link_to quizroom_question_path(@quizroom, question) do %>
        <div class="d-flex align-items-center">
          <%= question.utterance %>
        </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
