
<div class="card-white">
  <h1><i class="fab fa-slack-hash"></i> <%= @quizroom.name %></h1>
  <h2>Questões:</h2>
  <div class="questions-list-wrapper row justify-content-center mt-4 text-center">
    <div class="col-8">
      <ul>
        <% @questions.each do |question| %>
          <li>
            <%= link_to quizroom_question_path(@quizroom, question), class:"question-links" do %>
              <div class="question-item mb-2 py-2 px-3">
                <span><%= question.utterance %></span>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
