
<div class="card-white">
  <div class="d-flex align-items-top justify-content-between mb-2">
    <h1><i class="fab fa-slack-hash"></i> <%= @quizroom.name %></h1>
    <%= link_to '<i class="fas fa-undo-alt"></i><span>Voltar</span>'.html_safe, root_path, class:"back-btn" %>
  </div>
  <h2>Questões:</h2>
  <div class="questions-list-wrapper row justify-content-center mt-4 text-center">
    <div class="col-lg-8">
      <ul>
        <% @questions.each do |question| %>
          <li>
            <%= link_to quizroom_question_path(@quizroom, question), class:"question-links" do %>
              <div class="question-item mb-2 py-2 px-3">
                <span><%= question.utterance %></span>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
