<div class="card-white">
  <%= render 'quizrooms/show/header', quizroom: @quizroom %>
  <h2>Questões:</h2>
  <%= render 'quizrooms/show/question_list', quizroom: @quizroom, questions: @questions %>
</div>
