<div class="quizroom-header d-flex justify-content-between align-items-center mb-4">
  <div class="text-left">
    <h1>Olá, <%= current_user.teacher ? "Prof. #{current_user.name}" : current_user.name %>!</h1>
  </div>
  <div class="avatar">
    <%= image_tag current_user.url_pic %>
  </div>
</div>
