<div class="quizroom-header d-flex justify-content-between align-items-center mb-4">
  <div class="text-left">
    <h1>Olá, <%= current_user.teacher ? "Prof. #{current_user.name}" : current_user.name %>!</h1>
  </div>
  <div class="avatar">
    <%= image_tag "https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/3a/3a0f7411ebc4f7709a8b307be93c233e3c87dc95_full.jpg" %>
  </div>
</div>
