body {
  background-color:#DCE7F7;
  color:$dark-blue;
  font-size: 17px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding:0;
}

a:hover {
  text-decoration: none;
  color:$dark-blue;
}

.back-btn:hover {
  border-bottom: 2px solid $light-blue;
  padding:0;
}