.navbar {
  justify-content: space-between;
  background: white;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.navbar .nav-links {
  flex-grow: 0;
}

.navbar .navbar-logo img {
  width: 40px;
}

.nav-avatar {
  width: 40px;
  border-radius: 50%;
}

.nav-item a{
  color: $dark-blue;
  font-weight: bold;
}
