.choice-item {
  border: 2px solid $light-blue;
  border-radius: 50px;
  &:hover {
    background-color: $light-blue;
    cursor: pointer;
    label {
      color: white;
    }
  }
}

label{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 600;
  color: black;
  margin: 0;
}

//  input[type="radio"] {
//    display: none;
//  }

.btn-quiz {
  color: white;
  font-weight: bold;
  background-color: $dark-blue;
  padding: 10px 25px;
  border-radius: 10px;
   &:hover {
    color: white;
    opacity: .8;
 }
}
