<div class="questions-list-wrapper row justify-content-center mt-4 text-center">
  <div class="col-lg-8">
    <ul>
      <% questions.each do |question| %>
        <li class="animate__animated animate__fadeIn<%= question.id.even? ? "Left" : "Right" %>">
          <%= link_to quizroom_question_path(quizroom, question), class:"question-links" do %>
            <div class="question-item mb-2 py-2 px-3">
              <span><%= question.utterance %></span>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
